.form{
    border-radius: 20px ;
    background-color: white;
    margin: 20px;
    width: 400px;
    height: 400px;
    padding: 20px;
    color: rgb(7, 7, 7);
}
.flexw{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.edit{
    border-radius: 20px;
    border-color: rgb(1, 57, 106);
    border-style: solid;
    text-align: center;
    height: 30px;
    width: 200px;
    margin: 5px;

}
.kkk{
    background-color: rgb(61, 124, 219);
    color: white;
}